*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.786;
    letter-spacing: 0.025em;
    color: #8a8a8a;
}

img {
    max-width: 100%;
}

.page {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
}

.banner {
    min-height: 470px;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 70px;
}

.container {
    max-width: 1170px;
    padding: 0 15px 30px;
    margin: 0 auto;
    position: relative;
}

.logo {
    width: 150px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 17px;
    line-height: 1.589;
    letter-spacing: 0.1em;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
}

.main-nav > li {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.main-nav > li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

.main-nav > li > a {
    color: #464441;
    text-decoration: none;
    display: block;
    padding: 35px 15px 5px;
    transition: color .3s ease;
    position: relative;
}

.main-nav > li > a::before {
    content: "";
    position: absolute;
    top: 0;
    width: 0%;
    background-color: orange;
    height: 3px;
    left: 50%;
    opacity: 0;
    transition: opacity 0.2s ease, left 0.2s ease, width 0.2s ease;
}
.main-nav > li > a:hover::before {
    opacity: 1;
    width: 100%;
    left: 0;
}

.dropdown {
    position: absolute;
    top: 100%;
    background-color: white;
    left: 50%;
    transform: translate(-50%, 20px);
    padding: 1em;
    box-shadow: 2px 4px 46px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, transform .3s;
}

.dropdown::before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: inherit;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50% , -50%) rotateZ(45deg);
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.dropdown-menu a {
    color: #635e59;
    font-size: 15px;
    letter-spacing: 0.075em;
    text-decoration: none;
    transition: color .3s ease;
}

.dropdown-menu a:hover {
    color: #ff9016;
}

.aside {
    width: 290px;
    margin-left: 60px;
    flex-shrink: 0;
}

.preview-holder {
    background-color: #F3F4F4;
    padding: 15px;
} 
