*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #f7f9ee;
  margin: 10px;
  max-width: 1024px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
header h1 {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-family: "Oswald", sans-serif;
  color: #7ea2b3;
  margin-bottom: 15px;
}
.staff_picks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.button {
  width: 100px;
  margin: 0 auto;
  background-color: #96b600;
  text-decoration: none;
  border-radius: 20px;
  font-size: 13px;
  line-height: 22px;
  font-family: "dosis";
  color: #fff;
}
.product_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
  width: 100%;
  padding: 10px;
}
.staff_picks h3 {
  color: #7ea2b3;
  font-family: "oswald", sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.img1 {
  max-width: 100%;
}
.card_img img {
  object-fit: cover;
  width: 100%;
}

.card_img {
  position: relative;
  cursor: pointer;
  display: flex;
  width: 100%;
}
.card_img:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 51, 68, 0.6);
  opacity: 0;
  transition: all 0.4s ease;
  overflow: hidden;
}
.card_img:hover:before {
  opacity: 1;
}
.text_img {
  height: 100%;
  width: 100%;
  margin-top: 40px;
  padding: 10px;
  position: absolute;
  font-family: "dosis", sans-serif;
  font-size: 18px;
  line-height: 35px;
  color: #fff;
  opacity: 0;
  transition: all 0.4s ease;
  justify-content: center;
}
.text_img:hover {
  opacity: 1;
}

@media (min-width: 420px) {
  .product_card {
    width: calc(50% - 20px);
  }
  .staff_picks {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .product_card {
    width: calc(25% - 20px);
  }
}
