*,
:after,
:before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cfc24a;
  flex: 0 0 auto;
}
.categories {
  display: flex;
  margin-right: 15px;
  align-content: stretch;
}
.categories li {
  list-style: none;
}
.categories a {
  padding: 10px;
  text-decoration: none;
}
.img_logo {
  margin-left: 15px;
}
.page {
  display: flex;
  align-items: stretch;
  flex: 1 0 auto;
}
.aside_left {
  width: 210px;
  background-color: #9c819c;
  order: -1;
  text-align: center;
}
.aside_right {
  width: 210px;
  background-color: #9d9dcc;
  align-content: stretch;
  text-align: center;
}

.footer {
  background-color: #1e7a1e;
  padding: 5px;
  text-align: center;
  flex: 0 0 auto;
}
